.comment__text {
  box-sizing: border-box;
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--black);
  flex-grow: 1;
}

.comment__info {
  margin: 5px 0 0;
  display: flex;
}

.comment__caption {
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--gray);
  box-sizing: border-box;
}

.comment__caption:not(:last-child) {
  margin-right: 5px;
}

.comment__caption_content_comments {
  padding: 0 0 0 5px;
  border-left: 1px solid var(--gray);
}

.comment__button {
  border-top: none;
  border-right: none;
  border-bottom: none;
  background: none;
  cursor: pointer;
  display: flex;
}

.comment__button::before {
  content: " ";
  height: 0;
  width: 0;
  margin-right: 5px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0;
  border-top: 14px solid var(--color-bcg-orange);
  border-bottom: 0;
  transition: transform .3s, border-top-color .3s;
}

.comment__button:disabled::before {
  border-top-color: var(--gray);
  cursor: default;
}

.comment__button_active::before {
  transform: rotate(180deg);
}

.comment__preloader {
  font-weight: bold;
  display:inline-block;
  clip-path: inset(0 3ch 0 0);
  animation: pending 1s infinite;
}