.comment__text {
  box-sizing: border-box;
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--black);
  flex-grow: 1;
  max-width: 50%;
}

.comment__info {
  margin: 5px 0 0;
  display: flex;
}

.comment__caption {
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--gray);
  box-sizing: border-box;
}

.comment__caption:not(:last-child) {
  margin-right: 5px;
}

.comment__caption_content_comments {
  padding: 0 0 0 5px;
  border-left: 1px solid var(--gray);
}

.comment__button {
  border-top: none;
  border-right: none;
  border-bottom: none;
  background: none;
  cursor: pointer;
  display: flex;
}

.comment__button_state-comment_close::before {
  content: " ";
  display: inline-block;
  border-top: 14px solid var(--color-bcg-orange);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0;
  height: 0px;
  width: 0px;
  margin-right: 5px;
}

.comment__button_state-comment_open::before {
  content: " ";
  display: inline-block;
  border-bottom: 14px solid var(--color-bcg-orange);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 0;
  height: 0px;
  width: 0px;
  margin-right: 5px;
}