.article {
  padding-right: 40px;
}

.article__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.article__link {
  text-decoration: none;
  color: var(--black);
  transition: color .3s;
}

.article__link:hover, .article__link:visited:hover {
  color: var(--color-bcg-orange);
}

.article__link:visited {
  color: var(--gray);
}

.article__text {
  box-sizing: border-box;
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--black);
  flex-grow: 1;
}

.article__info {
  margin: 5px 0 0;
  display: flex;
}

.article__caption {
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--gray);
  box-sizing: border-box;
}

.article__caption:not(:last-child) {
  margin-right: 5px;
}

.article__caption_content_comments {
  padding: 0 0 0 5px;
  border-left: 1px solid var(--gray);
}

.article__button {
  border-top: none;
  border-right: none;
  border-bottom: none;
  background: none;
  cursor: pointer;
  display: flex;
}

.article__button::before {
  content: " ";
  height: 0;
  width: 0;
  margin-right: 5px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.article__button_status-comment_close::before {
  border-top: 14px solid var(--color-bcg-orange);
  border-bottom: 0;
}

.article__button_status-comment_open::before {
  border-bottom: 14px solid var(--color-bcg-orange);
  border-top: 0;
}