.article {
  padding-right: 40px;
}

.article__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.article__link {
  text-decoration: none;
  color: var(--black);
  transition: color .3s;
}

.article__link:hover, .article__link:visited:hover {
  color: var(--color-bcg-orange);
}

.article__link:visited {
  color: var(--gray);
}

.article__text {
  box-sizing: border-box;
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--black);
  flex-grow: 1;
}

.article__info {
  margin: 5px 0 0;
  display: flex;
}

.article__caption {
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--gray);
  box-sizing: border-box;
}

.article__caption:not(:last-child) {
  margin-right: 5px;
}

.article__caption_content_comments {
  padding: 0 0 0 5px;
  border-left: 1px solid var(--gray);
}

@media (max-width: 767px) {
  .article__info {
    flex-direction: column;
  }

  .article__caption_content_comments {
    border-left: none;
    padding-left: 0;
  }
}